#include <windows.h>

// Versijos informacija
VS_VERSION_INFO VERSIONINFO
FILEVERSION     3,0,0,0
PRODUCTVERSION  3,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "042704b0"  // Lithuanian language + Unicode
        BEGIN
            VALUE "CompanyName",      "Vilniaus Universitetas\0"
            VALUE "FileDescription",  "Studentų rezultatų skaičiavimo programa\0"
            VALUE "FileVersion",      "3.0.0.0\0"
            VALUE "InternalName",     "Studentai_v3\0"
            VALUE "LegalCopyright",   "Copyright © 2025 VU Vardenis-Pavardenis\0"
            VALUE "OriginalFilename", "Studentai_v3.exe\0"
            VALUE "ProductName",      "Studentų Programa v3.0\0"
            VALUE "ProductVersion",   "3.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x427, 1200  // Lithuanian, Unicode
    END
END

// Manifestas administratoriaus teisėms
1 RT_MANIFEST "admin.manifest.xml"